$font-stack: 'Roboto', sans-serif
$primary-white: #f1f1f1
$secondary-black: #818181

@mixin typography
    font-size: 1.5rem
    line-height: 1.5
    letter-spacing: 1.5px

@mixin center-flexed($direction: column)
    display: flex
    flex-direction: $direction
    align-items: center
    justify-content: center

body
    margin: 0
    padding: 0

    h1,h2,h3,form,p,span
        margin: 0
        padding: 0

main
    position: relative
    min-height: 100vh
    display: grid
    grid-template-rows: 3fr 1.3fr
    font-family: $font-stack

.black-film
    background: rgba(0,0,0,0.2)
    position: relative
    z-index: 3
    height: 100%

#city-bg
    position: relative
    z-index: 2
    .container
        width: 80%
        margin: 0 auto
        display: grid
        grid-template-columns: 1fr 1fr
        padding: 5rem 0
        align-items: center

        .form-search
            display: flex
            flex-direction: column
            align-items: right
            justify-content: center

            form
                display: flex
                align-items: center

            img
                width: 22px
                position: relative
                left: 12%
                opacity: 0.5

        .basic-weather-details
            display: flex
            flex-direction: column
            justify-content: center
            color: $primary-white
            @include typography

            h2
                font-size: 2.5rem
                font-weight: normal

            #slash
                margin: 0 5px

.location
    form
        align-self: end
        color: $primary-white

    input
        background: transparent
        outline: none
        border: 1px solid #0000006b
        border-radius: 20px
        padding-right: 20px
        color: $primary-white
        text-align: right
        width: 250px
        text-transform: capitalize
        @include typography

::placeholder
    color: black
    opacity: 0.35

    h2
        @include typography
        padding-right: 20px
        padding-top: 20px
        text-align: right

.weather-desc
    @include center-flexed
    text-transform: capitalize

    .icon
        width: 100px
        height: 100px

    p
        font-size: 1.2rem
        letter-spacing: 1.1px

#advanced-weather-details
    width: 80%
    margin: 0 auto
    padding: 2rem 0
    display: flex
    justify-content: space-between
    text-align: center

    .wrapper
        display: flex

    hr
        width: 25px
        outline: none
        border: none
        height: 1.5px
        background: #ff8787
        margin: 1rem 0

    .weather-temp
        display: grid
        grid-template-rows: 1fr 1fr
        margin-left: 2rem

        .temp
            @include center-flexed($direction: row)
            color: #818181
            font-weight: normal
            font-size: 0.9rem
            letter-spacing: 1.5px
            margin-top: 10px

            h3
                font-size: 2.5rem
                font-weight: normal
                color: black

            hr
                margin: 1rem 2rem

    .container
        display: grid
        grid-template-columns: repeat(4,1fr)

        .icon
            width: 25px
            height: 25px
            border-radius: 50%
            padding: 10px
            margin: 0

        .pressure
            background-color: #ffe651

        .humidity
            background-color: #4accff

        .visibility
            background-color: #aa79ff

        .wind-speed
            background-color: #a3ff79

        img
            height: 100%
            width: 100%

        p
            font-size: 1.7rem
            letter-spacing: 1.1px

        div
            @include center-flexed
            margin-left: 4rem

            h2
                color: #818181
                font-weight: normal
                font-size: 0.9rem
                letter-spacing: 1.1px
                margin-top: 10px

.form-search
    display: block

//media queries
@media screen and (max-width: 1200px)
    #advanced-weather-details
        .container
            div
                margin-left: 2rem
        .weather-temp
            .temp
                h3
                    font-size: 2.0rem

    .weather-desc p
        font-size: 1rem

@media screen and (max-width: 1000px)
    #city-bg
        .container
            .basic-weather-details
                h2
                    font-size: 2rem
                h3
                    font-size: 1.5rem

    #advanced-weather-details
        .container
            p
                font-size: 1.5rem
        .weather-temp
            .temp
                hr
                    margin: 1rem

@media screen and (max-width: 915px)
    main
        grid-template-rows: 1fr 1fr

    #advanced-weather-details
        flex-direction: column
        align-items: center

        .container
            width: 100%

            div
                margin: 0

        .weather-temp
            grid-template-columns: 1fr 1fr
            grid-template-rows: none
            width: 100%
            align-items: center

        .wrapper
            margin-bottom: 3rem
            width: 100%
            justify-content: space-between

@media screen and (max-width: 800px)
    #advanced-weather-details
        .weather-temp
            .temp
                flex-direction: column

@media screen and (max-width: 660px)
    main
        display: block
    #city-bg
        .container
            .basic-weather-details
                h3
                    font-size: 1.2rem

    .location
        input
            font-size: 1.5rem
            width: 200px

@media screen and (max-width: 600px)
    #advanced-weather-details
        .container
            grid-template-columns: repeat(2,1fr)
            grid-row-gap: 4em
    #city-bg
        .container
            grid-template-rows: 1fr 1fr
            grid-template-columns: none

            .basic-weather-details
                grid-row: 2

            .form-search
                display: block
                img
                    left: 12%
                    position: absolute

            input
                text-align: left
                align-self: flex-start
                padding-right: 0
                padding-left: 45px

@media screen and (max-width: 420px)
    #city-bg
        .container
            .form-search
                form
                    width: 100%
                    input
                        width: inherit

    .container
        text-align: center
    #advanced-weather-details
        .weather-desc
            margin-bottom: 2em
        .container
            grid-template-columns: repeat(1,1fr)
        .wrapper
            flex-direction: column
        .weather-temp
            grid-template-rows: 1fr 1fr
            grid-template-columns: none
            margin: 0
            .temp
                margin: 2em 0

@media screen and (max-width: 300px)
    #city-bg
        .container
            input
                padding-left: 30px
                font-size: 1rem
                width: 150px
            .form-search
                img
                    width: 15px

            .basic-weather-details
                h2
                    font-size: 1.5rem
                h3
                    font-size: 1rem
